    <div class="container">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
        <div class="row" style="margin-top: 50px;margin-bottom: 20px;box-shadow: 3px 3px 11px -1px rgb(214,219,224);">   
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
              <% if current_user.avatar.attached? %>
                <%= cl_image_tag @user.avatar.key, id: 'avatar', :crop => 'fill', height: 400, width: 400, gravity: "auto" %>
              <% else %>
                <%= image_tag "empty.png", id: 'avatar', style: 'height:250px; margin-top:20px; border-radius: 5px;' %>
              <% end %>
            </div>
            <div class="col-12 col-lg-6">
              <div style="padding: 10px;">
                
                <%= f.input :first_name,
                label: false,
                required: false,
                input_html: { autocomplete: "first name", placeholder: "Prénom", class: "border rounded border-primary" } %>

                <%= f.input :last_name,
                label: false,
                required: false,
                input_html: { autocomplete: "last name", placeholder: "Nom", class: "border rounded border-primary" } %>
                
                <%= f.input :email,
                label: false,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", placeholder: "Email", class: "border rounded border-primary" } %>
                
                <%= f.input :job,
                label: false,
                required: false,
                input_html: { autocomplete: "job", placeholder: "Métier", class: "border rounded border-primary" } %>
                
                <%= f.input :messenger_link,
                label: false,
                required: false,
                input_html: { autocomplete: "facebook link", placeholder: "Lien Facebook", class: "border rounded border-primary" } %>

                <%= f.input :phone_number,
                label: false,
                required: false,
                input_html: { autocomplete: "phone", placeholder: "Numéro de téléphone", class: "border rounded border-primary" } %>

                <%= f.input :desc,
                label: false,
                required: false,
                input_html: { autocomplete: "description", placeholder: "Déscription", class: "border rounded border-primary" } %>

                <%= f.password_field :password,
                    autocomplete: "new-password",
                    class: "border rounded border-primary", 
                    placeholder: "Changer mot de passe",
                    style: "width: 100%; padding-left: 10px;" %>
                <% if @minimum_password_length %>
                  <br />
                  <em  style="font-size: 12px; color: blue; padding-left: 10px;"><%= @minimum_password_length %> charactères minimum</em>
                <% end %>

                <%= f.password_field :password_confirmation,
                    autocomplete: "new-password",
                    class:"border rounded border-primary", 
                    placeholder: "Confirmer nouveau mot de passe",
                    style: "width: 100%; padding-left: 10px;"  %>
 
                <i style="font-size: 12px; color: blue; padding-left: 10px;"> Inserer votre mot de passe pour confirmer les changements</i>
                <%= f.password_field :current_password,
                    autocomplete: "current-password",
                    class: "border rounded border-primary",
                    placeholder: "Insérer votre mot de passe",
                    style: "width: 100%; padding-left: 10px;" %>

                <%= f.input :avatar, as: :file, required: false, input_html: { :onchange => "preview()", style: "margin-top: 10px;" }, label: false %>
              </div>
            </div>
        </div>
        <div class="justify-content-center" style="margin-top: 10px;margin-bottom: 20px;">
          
          
          <%= f.input :address,
              label: false,
              input_html: { id: "place_address", placeholder: "Insérer votre addresse ici", class: "border rounded border-primary form-control-lg", style: "width: 100%;"} %> 
          <p style="color: rgb(167,174,181);font-size: 16px;margin-top: 3px;">* Votre adresse sert à filtrer par quartiers et ne sera pas divulger aux autres parents</p>
          
          <%# <iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe> %>
          <div id="map-container" style="height: 300px; width: 100%;"></div>
        
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 10px;margin-bottom: 20px;">
          <%= link_to "Retour", dashboard_path, class: "btn btn-outline-danger btn-lg", style: "padding: 15px;margin-right: 5px;" %>
          
          <%# <button class="btn btn-outline-danger btn-lg" type="button" style="padding: 15px;margin-right: 5px;">Retour</button> %>
          <%= f.button :submit, "Sauvegarder", class: "btn btn-primary btn-lg", style: "padding: 15px;"  %> 
          <%# <button class="btn btn-primary btn-lg" type="button" style="padding: 15px;">Sauvegarder</button> %>

          <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr ?" }, method: :delete, class: "btn btn-danger btn-lg", style: "padding: 15px;margin-left: 5px;width: 150px;" %>
          <%# <button class="btn btn-danger btn-lg" type="button" style="padding: 15px;margin-left: 5px;width: 150px;">Supprimer Compte</button> %>
        </div>
    </div>
<% end %>


<script>
  function preview() {
    avatar.src=URL.createObjectURL(event.target.files[0]);
  }
</script>